@use 'mixins'as *;
@use 'variables'as *;

.container {
    background-color: rgb(0 0 0 / 0.1);
    height: 100vh;
    border-radius: 16px;
    padding: 3rem 2rem 4rem;
    box-sizing: border-box;
    position: relative;
    counter-reset: step;
    background-color: $color9;
    overflow: hidden;
    min-width: clamp(350px, 350px + 3vh, 550px);

    // outline: 1px solid green
    label {
        display: block;
        width: 100%;
        color: $color5;
    }

    div+h5 {
        // color: red !important;
        padding-top: 1rem;
    }


}

@media (min-width:35em) {

    .container {
        max-width: 550px;
    }
}

// .inputs__scales {
//     @include flexbox(row, center, center);
//     background-color: bisque;
//     font-size: 1.5rem;

//     input {
//         padding: 0.5rem;
//         font-size: 2rem;
//         width: 100px;
//         border-radius: 8px;
//     }

// }

.instruction {
    color: $color1;
    padding-bottom: 1rem;
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    counter-increment: step;
    margin-bottom: 1rem;

    &::before {
        content: counter(step);
        display: inline-block;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        background-color: $color1;
        color: white;
        text-align: center;
        margin-right: 0.5rem;
    }

    &:nth-child(3) {
        padding-bottom: 0
    }
}

.header {
    // background-color: hsl(0 50% 80%);
    @include flexbox(column, center, center);
    padding-bottom: 2rem;

    h3,
    span {
        font-size: 2rem;
        font-family: 'Trebuchet MS', sans-serif;
        color: $color5;
        font-weight: 500;

        span {
            color: $color2;
            font-weight: 600;
        }

    }

    h4 {
        color: $color6;
        font-weight: 500;
    }
}

.body {
    // background-color: hsl(60, 50%, 90%);

    section {
        height: 4rem;
        position: relative;
        @include flexbox(row, center, unset);
        width: 100%;
        justify-content: space-between;


        article+h4 {
            font-size: 2rem;
            padding: 0 0.5rem;
            font-weight: 800;
            // color: red;
        }

        input,
        select {
            box-sizing: border-box;
            padding: 0.5rem;
            text-align: center;
            font-size: 2rem;
            font-weight: 800;
            width: 100%;
            background-color: $color8;


        }

        input {

            border-radius: 12px 0 0 12px;
        }

        input:nth-child(1) {
            border-radius: 0;
        }

        select {
            border-radius: 0 12px 12px 0;
            display: flex;

        }

        label {
            position: absolute;
            top: -1rem;
            font-size: clamp(12px, 12px + 1vw, 16px);
        }

        article:nth-child(2),
        article:nth-child(n+1) {
            flex: 2 1 4rem;
        }


    }

    select {
        padding: 1rem;
    }

}

.suggScales {
    color: red;
    min-width: 100%;
    @include flexbox(row, center, center);
    justify-content: space-around;

    section {
        margin-bottom: 2rem;

    }

    div {

        @include flexbox(column, center, center);
    }

    path,
    svg {
        width: 24px;
        pointer-events: none;
        color: $color6
    }
    
    & :hover, div[class*="active"] {
        // outline: 1px solid blue;
        // color: $color4;
        cursor: pointer;
        font-weight: 800;
        font-size: 1.1rem;
        
        svg,path {
            
            color: $color3;
            transform: scale(1.1);
        }
    }
}

// .grid {
//     background-color: hotpink;
//     display: grid !important;
//     grid-template-rows: repeat(2 1fr) ;
// }

.res {
    // background-color: aquamarine;
    height: 40%;
    @include flexbox(column, center, center);
    justify-content: space-between;
    // position: absolute;
}

.results {
    @include flexbox(column, center, center);
    justify-content: space-around;
    // background-color: hsl(180, 50%, 80%);
    // background-color: $color8;
    text-align: center;
    width: 100%;
    // min-height: 50%;
    // position: relative;
    align-items: stretch;
    font-size: 1.5rem;
    position: relative;

    h5 {
        width: 100%;
        text-align: start;
        // position: absolute;
        // top: 0;
        // justify-self: start;
    }

    canvas {
        background-color: rgb(0 0 0 / 0.1);
        width: 100%;
        aspect-ratio: 4/1;
        display: none;
    }

    article {
        width: 100%;
        // text-align: start;
        // position: absolute;
        // bottom: 2rem;
        flex: 3;
    }

    h1 {
        font-size: clamp(3rem, 3rem + 2vh, 4rem);
    }

    h2 {
        padding-top: clamp(1rem, 1rem + 4vh, 2rem);
        font-size: clamp(2rem, 2rem + 3vh, 3rem);
    }

    h6,
    h4 {
        color: $color6;
    }

    & article:nth-last-of-type(2) {
        position: absolute;
        top: 0;
        right: 0;
        text-align: end;

        h6 {
            font-size: 1.5rem;
            color: $color5;
        }

        h4 {
            color: $color4;
        }
    }

    svg {
        width: 24px;
    }
}

.footer {
    position: absolute;
    width: 100%;
    height: 64px;
    text-align: center;
    left: 0;
    bottom: 1rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    border-top: 2px solid $color5;
    // gap: 1rem;

    // outline: 1px solid blue;

    & * {
        // outline: 1px solid red;
    }

    .footer__icons {
        grid-area: 1 / 2 / 1 / 4;
    }

    p {
        background-color: $color7;
        width: 24px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        display: inline-block;
        margin: 0.5rem 1rem 1rem;
    }

    h6 {
        grid-area: 2 / 1 / 2 / 5;
    }
}